//- ***
extends base.pug

block style 
    style 
        include ../public/navbar.css
        include ../public/about.css

block content
    section.about-section
      h1 About Us
      p Welcome to our Food Recipe Website! We are passionate about sharing delicious recipes with food enthusiasts like you. Our goal is to provide a wide variety of recipes that cater to different tastes and dietary preferences.
      p Whether you are looking for quick and easy meals, healthy options, or indulgent treats, we have got you covered. Our team of experienced chefs and food bloggers work hard to curate and create recipes that are both flavorful and accessible.
      p Explore our recipe collection, try out new dishes, and embark on a culinary adventure with us. We believe that food brings people together and that cooking should be a joyful experience. So, let's dive into the world of flavors and create delicious memories!
