//- ***
extends base.pug

block style 
    style 
        include ../public/navbar.css
        include ../public/privacy.css

block content
    section#privacy-policy
      img(src="img/privacy.png", alt="")
      h1.h-primary Privacy Policy

      p Your privacy is important to us. This Privacy Policy explains how we collect, use, and disclose your personal information when you use our website.

      h2 Information We Collect
      p We may collect certain personal information from you, including your name, email address, and any other information you provide voluntarily.

      h2 How We Use Your Information
      p We may use your personal information to:
      ul
        li Provide and personalize our services
        li Communicate with you about your account or inquiries
        li Send you newsletters, promotions, and updates
        li Analyze website usage and improve our content and services

      h2 Disclosure of Your Information
      p We may disclose your personal information:
      ul
        li To trusted third-party service providers who assist us in operating our website and services
        li To comply with legal obligations or protect against legal liability

      h2 Security
      p We take reasonable measures to protect your personal information. However, please be aware that no method of transmission over the internet or electronic storage is 100% secure.

      h2 Changes to This Privacy Policy
      p We may update this Privacy Policy from time to time. Please review it periodically for any changes. Your continued use of our website constitutes your acceptance of the updated Privacy Policy.
