//- ***
extends base.pug

block style 
    style 
        include ../public/navbar.css
        include ../public/terms.css

block content
    section#terms-of-service
      img(src="img/term.png", alt="")
      h1.h-primary Terms of Service

      h2 Acceptance of Terms
      p By using our website, you agree to these Terms of Service and our Privacy Policy. If you do not agree, please refrain from using our website.

      h2 Intellectual Property
      p The content on this website, including text, images, and recipes, is protected by copyright and other intellectual property laws.

      h2 User Conduct
      p When using our website, you agree not to:
      ul
        li Violate any applicable laws or regulations
        li Interfere with or disrupt the website's functionality
        li Upload or transmit any harmful or malicious content
        li Attempt to gain unauthorized access to our systems

      h2 Disclaimer of Liability
      p We provide the website and its content on an "as is" basis. We do not guarantee the accuracy, completeness, or reliability of the content. Your use of the website is at your own risk.

      h2 Termination
      p We may terminate or suspend your access to the website at any time without prior notice.

      h2 Changes to Terms
      p We reserve the right to update or modify these Terms of Service at any time without prior notice. Your continued use of the website constitutes your acceptance of the updated terms.
